.section-wrapper
  margin-left: 20px
  margin-right: 20px
  border-left: 1px solid $gold
  border-right: 1px solid $gold

.section-header
  .header-underline
    border-bottom: 2px solid $gold
    width: 120px

    &.short
      width: 60px

.venue-ceremony
  @extend .section-wrapper
  display: block
  @media screen and (min-width: 1250px)
    display: flex

//***** Venue *****//

.venue-wrapper
  @media screen and (min-width: 1250px)
    width: 50%

  .venue-header
    text-align: center
    @media screen and (min-width: 750px)
      text-align: left

  .venue-info
    text-align: center
    @media screen and (min-width: 750px)
      text-align: left
      margin-left: 80px

  .venue-description
    @extend .venue-info

  .venue-map
    max-width: 600px
    margin-left: auto
    margin-right: auto
    @media screen and (min-width: 750px)
      margin-left: 80px

//***** Ceremony *****//

.ceremony-wrapper
  @media screen and (min-width: 1250px)
    width: 50%

  .ceremony-header
    text-align: center
    @media screen and (min-width: 750px)
      text-align: right
    @media screen and (max-width: 1249px) and (min-width: 750px)
      text-align: left

  .ceremony-info
    @media screen and (min-width: 750px)
      margin-right: 80px

    table
      text-align: justify
      max-width: 750px
      @media screen and (min-width: 1250px)
        float: right
        margin-top: 80px

      td
        @media screen and (max-width: 749px)
          display: block
          text-align: center
          width: fit-content
          margin-left: auto
          margin-right: auto

          &.icon-cell
            margin-top: 40px
            margin-bottom: 20px

      td.text
        @media screen and (max-width: 749px)
          padding-right: 20px
          padding-left: 20px

//***** Other Info *****//

.other-info-wrapper
  @extend .section-wrapper

  @media screen and (max-width: 749px)
    display: block

  .wrapper
    @media screen and (min-width: 750px)
      width: 33%
      margin-top: 0 !important

    .header-underline
      border-bottom: 1px solid $gold
      height: 1px
      width: 50px
