.rsvp-text
  max-width: 550px
  line-height: 1.5rem

.rsvp-dialog
  background-color: $charcoal !important

  @media screen and (min-width: 750px)
    display: flex
    .radio-buttons
      padding-left: 24px

  @media screen and (max-width: 749px)
    td
      display: block
      margin-left: auto
      margin-right: auto
      text-align: center

  .rsvp-field
    @media screen and (max-width: 749px)
      margin-bottom: 24px
