.rsvp-text
  max-width: 550px
  line-height: 1.5rem

.user-delete
  right: -40px
  bottom: 0
  cursor: pointer
  text-align: center
  width: 30px
  height: 30px
  &:hover
    background-color: $charcoal-dark

  @media screen and (max-width: 749px)
    bottom: 40px

.rsvp-field-wrapper
  display: flex

  @media screen and (max-width: 749px)
    display: block
    margin-left: auto
    margin-right: auto
    width: fit-content

.rsvp-radio-cell
  padding-left: 8px
  @media screen and (max-width: 749px)
    display: block
    margin-left: auto !important
    margin-right: auto !important
    width: fit-content
