.team-section-wrapper
  @extend .section-wrapper

  .team-wrapper
    @media screen and (max-width: 749px)
      display: block

    .wrapper
      font-size: 10pt

      @media screen and (min-width: 750px)
        width: 50%

      .header-underline
        border-bottom: 1px solid $gold
        width: 20px

      table.team-member-table
        width: 100%
        @media screen and (min-width: 750px)
          width: 75%
