$gold: #C0B283
$gold-dark: #AFA277
$gold-darkest: #938864
$silk: #DCD0C0
$silk-dark: #C4B8A8
$paper: #F4F4F4
$charcoal: #373737
$charcoal-light: #686868
$charcoal-dark: #2d2d2d

.bg-charcoal
  background-color: $charcoal

a
  color: $silk
  text-decoration: none

  &:hover
    color: $silk-dark
