.background-image
  width: 100%
  height: 100%
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.dark-overlay
  background-color: rgba(55, 55, 55, 0.5)
  width: 100%
  height: 100%

.background-image--home
  @extend .background-image
  background-position: center center
  position: relative
  background-image: url("../src/images/holding_hands.jpg")
