.background-image
  width: 100%
  height: 100%
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.dark-overlay
  background-color: rgba(0, 0, 0, 0.6)
  width: 100%
  height: 100%

.background-image--home
  @extend .background-image
  background-position: left center
  position: relative
  background-image: url("../src/images/home_page.jpg")

.background-image--logo
  width: 80%
  height: 80%
  background-position: right center
  background-repeat: no-repeat
  background-size: contain
  position: absolute
  display: inline-block
  top: 10%
  left: 10%
  background-image: url("../src/images/wedding-logo.png")
  @media screen and (max-width: 500px)
    width: 100%
    height: 100%
    background-position: center center
