.menu-button
  color: #EFEFEF !important

.menu-button:hover
  background-color: rgba(0, 0, 0, 0) !important

.menu-button-container
  width: 60px
  height: 100%
  background-color: #B82601
  display: inline-block

.menu-button-container:hover
  background-color: #981f01
  cursor: pointer

.menu-label-container
  width: 190px
  height: 100%
  display: inline-block

.menu-label
  margin: 14px 0px 0px 0px

.menu-button-wrapper
  width: 250px
  display: flex
  position: fixed
  top: 40px
  background-color: rgba(0, 0, 0, 0.5)
  z-index: 15
  border-radius: 0px 10px 10px 0px

.side-nav
  width: 200px

.nav-logo
  width: 200px
  height: 200px
  background-position: center
  background-size: cover
  background-image: url("../src/images/logo.svg")
