$scale: 4
@for $i from 0 through 15
  .mr-#{$i}
    margin-right: #{$i * $scale}px
  .ml-#{$i}
    margin-left: #{$i * $scale}px
  .mt-#{$i}
    margin-top: #{$i * $scale}px
  .mb-#{$i}
    margin-bottom: #{$i * $scale}px
  .mx-#{$i}
    margin-left: #{$i * $scale}px
    margin-right: #{$i * $scale}px
  .my-#{$i}
    margin-top: #{$i * $scale}px
    margin-bottom: #{$i * $scale}px

  .pr-#{$i}
    padding-right: #{$i * $scale}px
  .pl-#{$i}
    padding-left: #{$i * $scale}px
  .pt-#{$i}
    padding-top: #{$i * $scale}px
  .pb-#{$i}
    padding-bottom: #{$i * $scale}px
  .px-#{$i}
    padding-left: #{$i * $scale}px
    padding-right: #{$i * $scale}px
  .py-#{$i}
    padding-top: #{$i * $scale}px
    padding-bottom: #{$i * $scale}px
