@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500')

html, body
  font-family: 'Roboto', sans-serif
  color: #424242

.text-center
  text-align: center

.text-white
  color: white !important

.bold
  font-weight: bold !important

.thin
  font-weight: 100 !important

.display-inline
  display: inline-block

.fit-content
  width: fit-content
