.bg-charcoal
  .other-info-wrapper.py-12.text-center.text-white.flex
    .wrapper
      .header
        = react_component "CustomText", text: "Photography", size: "display1", classes: "text-white thin"
      .header-underline.mx-auto.mt-4.mb-8
      %p.thin.mx-12
        %a.thin{ href: "https://dipietrophotographysc.com/", target: "_blank" }
          %h3 DiPietro Photography
      %p.thin.mx-12
        Their work is fantastic, you should definitely check them out!
      .flex.fit-content.mx-auto
        %a.mx-4{ href: "https://www.facebook.com/dipietrophotographysc", target: "_blank" }
          .facebook-icon
        %a.mx-4{ href: "https://www.instagram.com/dipietrophotographysc/", target: "_blank" }
          .instagram-icon
    .wrapper.mt-12
      .header
        = react_component "CustomText", text: "Food", size: "display1", classes: "text-white thin"
      .header-underline.mx-auto.mt-4.mb-8
      %p.thin.mx-12
        We're not totally sure what were are going to be doing for catering, but we
        guarantee that it will be delicious!
      %p.thin.mx-12
        Once we know for sure, we will update you here with a short selection of what we will be offering.
    .wrapper.mt-12
      .header
        = react_component "CustomText", text: "Travel", size: "display1", classes: "text-white thin"
      .header-underline.mx-auto.mt-4.mb-8
      %p.thin.mx-12
        If you are joining us from out of town, we are glad you could make it!
      %p.thin.mx-12
        The closet airport is Greenville Spartanburg International Airport (GSP).
        It is only a 20 minute drive to the barn. If you plan
        on making it a weekend trip, Greenville and Spartanburg both have plenty of lodging
        and dining options available.

      %a.thin.mx-6{ href: "https://www.google.com/search?q=greenville+sc+lodging&npsic=0&rflfq=1&rlha=1&rlla=0&rlhsc=CiEInougruyQp9HeAQjO2qiugJWNj-kBCOr_rIHXweqE5wEwAQ&rllag=34853834,-82368607,2889&tbm=lcl&ved=2ahUKEwjpromEyZbeAhVknuAKHRwwCXYQjGp6BAgAEFY&hotel_dates=2018-11-18,2018-11-19&tbs=lf_hd:-1,lf_ho:2,lrf:!1m4!1u13!2m2!13m1!1b1!1m4!1u10!2m2!11m1!1e4!1m4!1u10!2m2!11m1!1e9!1m4!1u10!2m2!11m1!1e8!1m4!1u10!2m2!11m1!1e10!1m4!1u10!2m2!11m1!1e2!1m4!1u10!2m2!11m1!1e3!1m4!1u10!2m2!11m1!1e7!2m1!1e13!2m7!1e17!4m2!17m1!1e3!4m2!17m1!1e8!2m1!1e2!2m1!1e4!2m22!1e10!4m2!11m1!1e4!4m2!11m1!1e9!4m2!11m1!1e8!4m2!11m1!1e10!4m2!11m1!1e2!4m2!11m1!1e3!4m2!11m1!1e7!2m21!1e7!4m4!7m3!1m1!1u100!3sUSD!4m4!7m3!1m1!1u125!3sUSD!4m4!7m3!1m1!1u150!3sUSD!4m4!7m3!1m1!1u175!3sUSD!3sIAE,lf:1,lf_ui:6&rldoc=1#rlfi=hd:2019-05-25,2019-05-26;si:,34.82029800002977,-82.36613358713083;mv:!3m8!1m3!1d71701.13559919935!2d-82.3311146662324!3d34.83995467584478!3m2!1i1330!2i1051!4f13.1", target: "_blank" }
        Greenville
      %a.thin.mx-6{ href: "https://www.google.com/search?q=hotels+spartanburg+sc&npsic=0&rflfq=1&rlha=1&rlla=0&rlhsc=Ch8I-dy9hpXqvqgoCKTMwoL2i4ew1wEIydvHjtKXyKhEMAE&rllag=34951155,-81927138,806&tbm=lcl&ved=2ahUKEwikusTiypbeAhXJnuAKHZWjBDQQjGp6BAgAEFY&hotel_dates=2018-11-18,2018-11-19&tbs=lf_hd:-1,lf_ho:2,lrf:!1m4!1u13!2m2!13m1!1b1!1m4!1u10!2m2!11m1!1e4!1m4!1u10!2m2!11m1!1e9!1m4!1u10!2m2!11m1!1e8!1m4!1u10!2m2!11m1!1e10!1m4!1u10!2m2!11m1!1e2!1m4!1u10!2m2!11m1!1e1!1m4!1u10!2m2!11m1!1e3!1m4!1u10!2m2!11m1!1e7!2m1!1e13!2m7!1e17!4m2!17m1!1e3!4m2!17m1!1e8!2m1!1e2!2m1!1e4!2m25!1e10!4m2!11m1!1e4!4m2!11m1!1e9!4m2!11m1!1e8!4m2!11m1!1e10!4m2!11m1!1e2!4m2!11m1!1e1!4m2!11m1!1e3!4m2!11m1!1e7!2m21!1e7!4m4!7m3!1m1!1u75!3sUSD!4m4!7m3!1m1!1u100!3sUSD!4m4!7m3!1m1!1u125!3sUSD!4m4!7m3!1m1!1u150!3sUSD!3sIAE,lf:1,lf_ui:6&rldoc=1#rlfi=hd:2019-05-25,2019-05-26;si:;mv:!3m12!1m3!1d53400.113937005466!2d-81.96191739999999!3d34.971773799999994!2m3!1f0!2f0!3f0!3m2!1i885!2i784!4f13.1", target: "_blank" }
        Spartanburg
