.bg-charcoal
  .section-wrapper.pb-8
    .section-header.text-center.py-12
      = react_component "CustomText", text: "Registry", size: "display2", classes: "text-white thin"
      .header-underline.mx-auto.mt-4

    .text-center.text-white.thin.mb-8
      .mb-1
        Please note that your love and support is all we ask for on our special day.
      %div
        However, if you do wish to celebrate with a gift, we are registered at Target

    .target-logo.mx-auto
      %a{href: "https://www.target.com/gift-registry/wedding-registry", target: "_blank"}
