.bg-charcoal.registry-wrapper
  .section-wrapper.pb-8
    .section-header.text-center.py-12
      = react_component "CustomText", text: "Registry", size: "display2", classes: "text-white thin"
      .header-underline.mx-auto.mt-4

    .registry-text.text-center.text-white.thin.mb-12.px-4.mx-auto
      All that we really want is for you to join us on our big day, but we have created a newlywed fund if you
      would like to celebrate with a gift. We want our life together to be about service, so the best gift that you
      could give is to support a few causes that are close to our hearts.
      %br
      %br
      If you wish to give, you can do so online at our Zola page by clicking
      %a{ href: "https://www.zola.com/registry/hurdwedding2019", target: "_blank" } here
      or you can bring your gift to the wedding. Thank you so much for helping us make a difference!
      %br
      %br
      All gifts will be divided equally between these three causes:

    .logo-container.text-white.thin.text-center.mb-8
      .logo-wrapper.mx-auto.mb-8
        %a{ href: "https://www.thelanding.org/", target: "_blank" }
          .the-landing.mx-auto
        %small.landing-text
          The Landing is a drop-in center located in Houston, TX where survivors of human
          trafficking and sexual exploitation can experience an atmosphere of acceptance and have
          basic needs met. Sarah interned with The Landing this past summer and this is a way to help them
          continue the great work they are doing.
      .logo-wrapper.mx-auto.mb-8
        %a{ href: "https://www.nationalparks.org/", target: "_blank" }
          .national-park-foundation.mx-auto
        %small.nation-park-text
          National parks hold a special place in our hearts. So many of our favorite memories together
          have taken place in national parks. Giving back to the parks is a way to help
          protect and conserve them so that we can all enjoy them.
      .logo-wrapper.mx-auto.mb-8
        .honeymoon.mx-auto
        %small.honeymoon-text
          Our favorite way to spend time together is exploring new places, meeting new people, and
          experiencing other cultures. Part of the newlywed fund will help us to do
          that on our honeymoon trip to Thailand!
