.bg-charcoal.rsvp-wrapper
  .section-wrapper.pb-8
    .section-header.text-center.pt-12.pb-6
      = react_component "CustomText", text: "RSVP", size: "display2", classes: "text-white thin"
      .header-underline.short.mx-auto.mt-4
    .invitation-icon.mx-auto.my-4
    .rsvp-text.text-center.text-white.thin.mx-auto.mt-4.mb-6
      Please enter your information below.
      %br
      We look forward to seeing you on our big day!

    .fit-content.mx-auto.mb-6
      = react_component "Rsvp"
