.bg-charcoal
  .team-section-wrapper.py-12.text-center.text-white
    .section-header
      = react_component "CustomText", text: "Meet The Team", size: "display2", classes: "text-white thin"
      .header-underline.mx-auto.mt-4

    .team-wrapper.flex
      .wrapper
        .suit-icon.mx-auto.my-8

        %table.team-member-table.mx-auto
          %tr
            %td.py-5{colspan: 2}
              .jacob.mx-auto
              .mt-1
                Jacob
                .thin.mb-3
                  %small Bestman
                .thin.mb-1
                  %small Brother From Another Mother
                .thin
                  %small Much Needed Questionable Influence

          %tr
            %td.py-5
              .ben.mx-auto
              .mt-1
                Ben
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Roommate For Life
                .thin
                  %small Can Make Music With Anything
            %td.py-5
              .james.mx-auto
              .mt-1
                James
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Connoisseur of Ridiculous Adventure
                .thin
                  %small A Walking Discovery Channel

          %tr
            %td.py-5
              .mitchell.mx-auto
              .mt-1
                Mitchell
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Rock Climbing Addict
                .thin
                  %small Kind of Appreciates Good Whiskey
            %td.py-5
              .will.mx-auto
              .mt-1
                Will
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small A camp counselor wise beyond his years
                .thin
                  %small Has a pretty solid taste in music

      .wrapper
        .dress-icon.mx-auto.my-8

        %table.team-member-table.mx-auto
          %tr
            %td.py-5{colspan: 2}
              .sarah-p.mx-auto
              .mt-1
                Sarah
                .thin.mb-3
                  %small Maid of Honor
                .thin.mb-1
                  %small blah blah blah
                .thin
                  %small blah blah blah

          %tr
            %td.py-5
              .elena.mx-auto
              .mt-1
                Elena
                .thin.mb-3
                  %small Bridesmaid
                .thin.mb-1
                  %small blah blah blah
                .thin
                  %small blah blah blah
            %td.py-5
              .jasmin.mx-auto
              .mt-1
                Jasmin
                .thin.mb-3
                  %small Bridesmaid
                .thin.mb-1
                  %small blah blah blah
                .thin
                  %small blah blah blah

          %tr
            %td.py-5
              .julia.mx-auto
              .mt-1
                Julia
                .thin.mb-3
                  %small Bridesmaid
                .thin.mb-1
                  %small blah blah blah
                .thin
                  %small blah blah blah
            %td.py-5
              .lizzy.mx-auto
              .mt-1
                Lizzy
                .thin.mb-3
                  %small Bridesmaid
                .thin.mb-1
                  %small blah blah blah
                .thin
                  %small blah blah blah

          %tr
            %td.py-5{colspan: 2}
              .sarah-w.mx-auto
              .mt-1
                Sarah
                .thin.mb-3
                  %small Bridesmaid
                .thin.mb-1
                  %small blah blah blah
                .thin
                  %small blah blah blah
