.bg-charcoal
  .team-section-wrapper.py-12.text-center.text-white
    .section-header
      = react_component "CustomText", text: "Meet The Team", size: "display2", classes: "text-white thin"
      .header-underline.mx-auto.mt-4

    .team-wrapper.flex
      .wrapper
        .suit-icon.mx-auto
      .wrapper
        .dress-icon.mx-auto
