.bg-charcoal
  .team-section-wrapper.py-12.text-center.text-white
    .section-header
      = react_component "CustomText", text: "Meet The Team", size: "display2", classes: "text-white thin"
      .header-underline.mx-auto.mt-4

    .team-wrapper.flex
      .wrapper
        .suit-icon.mx-auto.my-8

        %table.team-member-table.mx-auto
          %tr
            %td.py-5{colspan: 2}
              .jacob-cooper.mx-auto
              .mt-1
                Jacob
                .thin.mb-3
                  %small Bestman
                .thin.mb-1
                  %small Brother From Another Mother
                .thin
                  %small Much Needed Questionable Influence

          %tr
            %td.py-5
              .jacob-cooper.mx-auto
              .mt-1
                Ben
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Roommate For Life
                .thin
                  %small Can Make Music With Anything
            %td.py-5
              .jacob-cooper.mx-auto
              .mt-1
                James
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Connoisseur of Ridiculous Adventure
                .thin
                  %small A Walking Discovery Channel

          %tr
            %td.py-5
              .jacob-cooper.mx-auto
              .mt-1
                Mitchell
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Pretty Serious Rock Climbing Addiction
                .thin
                  %small Kind of Appreciates Good Whiskey
            %td.py-5
              .jacob-cooper.mx-auto
              .mt-1
                Will
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Total Camp Counselor
                .thin
                  %small Cricket Spitting Champion

      .wrapper
        .dress-icon.mx-auto.my-8

        %table.team-member-table.mx-auto
          %tr
            %td.py-5{colspan: 2}
              .jacob-cooper.mx-auto
              .mt-1
                Jacob
                .thin.mb-3
                  %small Bestman
                .thin.mb-1
                  %small Brother From Another Mother
                .thin
                  %small Much Needed Questionable Influence

          %tr
            %td.py-5
              .jacob-cooper.mx-auto
              .mt-1
                Ben
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Roommate For Life
                .thin
                  %small Can Make Music With Anything
            %td.py-5
              .jacob-cooper.mx-auto
              .mt-1
                James
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Connoisseur of Ridiculous Adventure
                .thin
                  %small A Walking Discovery Channel

          %tr
            %td.py-5
              .jacob-cooper.mx-auto
              .mt-1
                Mitchell
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Pretty Serious Rock Climbing Addiction
                .thin
                  %small Kind of Appreciates Good Whiskey
            %td.py-5
              .jacob-cooper.mx-auto
              .mt-1
                Will
                .thin.mb-3
                  %small Groomsman
                .thin.mb-1
                  %small Total Camp Counselor
                .thin
                  %small Cricket Spitting Champion
