.full-screen.background-image--home
  .dark-overlay.position-absolute
    = react_component "HomePageText"

.bg-charcoal.py-10
  .jake-sarah-wrapper.mb-10
    .jake-sarah
      .jake-sarah-text
        %h1.text-white.thin.word Jake Hurd
        %h1.text-gold.thin.mx-3.word +
        %h1.text-white.thin.word Sarah Nash
        %h4.text-white.thin.mt-2 Sunday -- May 26th -- 2019
      .gold-line-thin.hidden-md-up
    .countdown-text.text-white.thin.my-5
      .mx-10
        .welcome-text.mb-2
          Welcome!
        .welcome-text
          We've created this website as a convenient and fun way to share all of the important details you will need leading up to the wedding. So have fun, take a look around, and don't forget to RSVP.
          We are so grateful for how the Lord has blessed us with so much love and support over the past three years and we are excited to share our big day with everyone. We look forward to dancing the night away with all of our favorite people!
  .w-100.text-center
    %h1.text-white.thin.mt-0.mb-4.hidden-sm-down Join Us On This Adventure In
    %h2.text-white.thin.mt-0.mb-4.hidden-md-up Join Us On This Adventure In
    .flex
      .mx-auto
        = react_component "Countdown", date: Time.new(2019, 5, 26, 17, 0, 0)
