.full-screen.background-image--info
  .dark-overlay.position-absolute
    .info-header-text.w-100
      = react_component "HeroText", text: "Information"

= render "venue_and_ceremony"

.full-screen.background-image--mr_mrs
  .dark-overlay

= render "other_info"
