= render "pages/welcome"

.full-screen.background-image--info
  .dark-overlay

#wedding-information
= render "pages/info"

.full-screen.background-image--us
  .light-overlay

#team
= render "pages/team"

.full-screen.background-image--holding-hands
  .dark-overlay

#registry
= render "pages/registry"

.full-screen.background-image--fence
  .dark-overlay
