@import "./components/color"
@import "./components/images"
@import "./components/nav"
@import "./components/sizing"
@import "./components/spacing"
@import "./components/typography"
@import "./components/footer"

@import "./pages/home"
@import "./pages/info"

html, body
  width: 100%
  height: 100%
  margin: 0

  a
    text-decoration: none

  p
    line-height: 1.8rem
