@import "./components/images"
@import "./components/nav"
@import "./components/sizing"
@import "./components/spacing"
@import "./components/typography"

html, body
  width: 100%
  height: 100%
  margin: 0

.menu-button
  z-index: 15
