.other-info-wrapper.py-12.text-center.text-white.flex
  .wrapper
    .header
      = react_component "CustomText", text: "Photography", size: "display1", classes: "text-white thin"
    .header-underline.mx-auto.mt-4.mb-8
    %p.thin.mx-12
      %a.thin{ href: "https://dipietrophotographysc.com/", target: "_blank" }
        %h3 DiPietro Photography
    %p.thin.mx-12
      Katie and Brandon are great! Check out some of their work here.
    .flex.fit-content.mx-auto
      %a.mx-4{ href: "https://www.facebook.com/dipietrophotographysc", target: "_blank" }
        .facebook-icon
      %a.mx-4{ href: "https://www.instagram.com/dipietrophotographysc/", target: "_blank" }
        .instagram-icon
  .wrapper.mt-12
    .header
      = react_component "CustomText", text: "Travel", size: "display1", classes: "text-white thin"
    .header-underline.mx-auto.mt-4.mb-8
    %p.thin.mx-12
      If you are joining us from out of town, we are glad you could make it!
      The closest airport is Greenville Spartanburg International Airport (GSP).
      It is only a 20 minute drive to the barn.
  .wrapper.mt-12
    .header
      = react_component "CustomText", text: "Accomodations", size: "display1", classes: "text-white thin"
    .header-underline.mx-auto.mt-4.mb-8
    %p.thin.mx-12
      For those of you making this a weekend trip, we have reserved a hotel block at the Hampton Inn
      and Suites. To get the group rate, reservations will need to be made by May 3rd. Please call
      %a{ href: "tel:8644868100" } (864)-486-8100
      or
      %a{ href: "http://group.hamptoninn.com/SarahAndJakesWedding", target: "_blank" } click here
      to make reservations.
      %br
      %br
      108 Spartangreen Blvd.
      %br
      Duncan, SC 29334
