.full-screen.bg-charcoal.flex{style: "align-items: center"}
  .rsvp-table-wrapper.mx-auto.mx-12.mb-8
    = react_component "RsvpTable", attendees: @attendees, attendence: @attendence, total: @total_count
