%footer
  .desktop-footer.text-white.thin.p-5.flex
    .logo
      Logo by
      %a{ href: "https://www.designevo.com/en/", title: "Free Online Logo Maker", target: "_blank" }
        DesignEvo

      = "--- Icons by "
      %a{ href: "https://www.flaticon.com/", title: "Flaticon", target: "_blank" }
        FlatIcon
    .copyright
      Copyright &copy 2018

  .mobile-footer.text-white.thin.p-5.text-center
    %p
      Logo by
      %a{ href: "https://www.designevo.com/en/", title: "Free Online Logo Maker", target: "_blank" }
        DesignEvo
    %p
      Icons by
      %a{ href: "https://www.flaticon.com/", title: "Flaticon", target: "_blank" }
        FlatIcon
    %p
      Copyright &copy 2018
